<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
    <key>Label</key>
    <string>com.user.bug</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jms/dev/_/bug/tmux-bug.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/bug.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/bug_err.log</string>
</dict>
</plist>
